<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>파일 업로드</title>
    <style>
      .profile {
        background-color: #fff;
        border-radius: 50%;
        box-shadow: 0 0 20px #0002;
      }
    </style>

    <!-- axios CDN (axios 사용을 위한) -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <h2>파일 한 개 업로드</h2>
    <!-- multipart/form-data는 method가 post일 때만 사용 가능! -->
    <form action="/upload" method="post" enctype="multipart/form-data">
      <input type="file" name="userfile" />
      <br />
      <input type="text" name="title" placeholder="사진 제목을 입력해주세요." />
      <br /><br />
      <button type="submit">업로드</button>
    </form>

    <h2>파일 여러 개 업로드 (ver.01)</h2>
    <p>
      하나의 input에 여러 개 파일 업로드 (multiple 키워드 써서 input에 달아주기)
    </p>
    <form action="/uploads/array" method="post" enctype="multipart/form-data">
      <input type="file" name="multifiles" multiple />
      <br />
      <input type="text" name="title" placeholder="사진 제목을 입력해주세요." />
      <br /><br />
      <button type="submit">업로드</button>
    </form>

    <h2>파일 여러 개 업로드 (ver.02)</h2>
    <p>여러 개의 input에 파일 업로드</p>
    <form action="/uploads/fields" method="post" enctype="multipart/form-data">
      <input type="file" name="file1" />
      <br />
      <input
        type="text"
        name="title1"
        placeholder="사진 제목을 입력해주세요."
      />
      <br /><br />
      <input type="file" name="file2" />
      <br />
      <input
        type="text"
        name="title2"
        placeholder="사진 제목을 입력해주세요."
      />
      <br /><br />
      <input type="file" name="file3" />
      <br />
      <input
        type="text"
        name="title3"
        placeholder="사진 제목을 입력해주세요."
      />
      <br /><br />
      <button type="submit">업로드</button>
    </form>

    <hr />
    <br /><br />
    <h2>동적 파일 업로드</h2>
    <div class="dynamic">
      <input type="file" name="dynamicFile" id="dynamicFile" />
      <input
        type="text"
        name="dynamicTitle"
        id="dynamicTitle"
        placeholder="프로필 설명"
      />
      <button type="button" onclick="fileUpload()">프로필 업로드</button>
      <button type="button" onclick="fileAndTextUpload()">
        프로필 업로드(with text)
      </button>
      <br />
      <br />
      <h3>결과 화면</h3>
      <img
        src="/static/img/default.jpg"
        alt="기본 프로필 이미지"
        width="200"
        height="200"
        class="profile"
      />
      <div class="tit"></div>
    </div>

    <script>
      function fileUpload() {
        // console.log(dynamicTitle) -> input의 id값으로 바로 접근 가능. 하지만 명시적으로 선언하기.
        // console.log(dynamicFile)

        const file = document.getElementById("dynamicFile");
        const img = document.querySelector(".profile");
        const formData = new FormData(); // 자바스크립트에서 기본 제공하는 FormData클래스: 이미지, pdf 등 파일을 "페이지 전환 없이" 비동기적으로 제출하고 싶을 때 사용

        console.log(file);
        console.dir(file);
        console.log(file.files[0]);

        // formData.append('name값', value);
        formData.append("dynamicFile", file.files[0]); // <input name="dynamicFile" value="file.files[0]" />

        axios({
          method: "post",
          url: "/dynamicUpload",
          data: formData,
          headers: {
            "Content-Type": "multipart/form-data",
          },
        }).then(function (res) {
          console.log(res);
          console.log(res.data); // 파일과 관련된 정보
          console.log(res.data.path); // 업로드된 이미지 경로 (src에 들어갈 경로)

          // img태그에 업로드한 사진 올리기
          img.src = "/" + res.data.path;
        });
      }

      function fileAndTextUpload() {
        const formData = new FormData();
        const file = document.getElementById("dynamicFile");
        const title = document.getElementById("dynamicTitle");
        const img = document.querySelector(".profile");
        const resultTitle = document.querySelector(".tit");

        formData.append("dynamicFile", file.files[0]);
        formData.append("dynamicTitle", title.value);

        axios({
          method: "post",
          data: formData,
          url: "dynamicUpload",
          headers: {
            "Content-Type": "multipart/form-data",
          },
        })
          .then((res) => {
            console.log(res.data);
            console.log(res.data.title);
            console.log(res.data.fileInfo);
            console.log(res.data.fileInfo.path);

            // img태그에 업로드한 사진 올리기
            img.src = res.data.fileInfo.path;

            // 타이틀 쓰기
            resultTitle.innerText = res.data.title.dynamicTitle;
          })
          .catch((err) => console.log(err));
      }
    </script>
  </body>
</html>
