body {
    background: linear-gradient(white, orange);
    height: 2000px;
    margin: 0;
    padding: 0;
}

div {
    width: 100px;
    height: 100px;
    font-weight: 700;
    text-align: center;
    border: 1px solid gray;
    line-height: 100px;
}

/* static
    - 기본값, 작성하지 않아도 됨
    - top, bottom, left, right 속성 적용 안됨
*/
.position-static {
    background-color: pink;
    position: static;
    top: 50px;
}

/* relative
    - 일반적인 문서 흐름에 따라서 배치가 됨 (자기 자리 보존)
*/
.position-relative {
    background-color: aquamarine;
    position: relative;
    left: 100px;
}

/* absolute
    - static이 아닌 값을 갖는 제일 가까운 조상 기준
    - 문서 흐름을 벗어남 (자기 자리 없어짐)
*/
.position-absolute {
    background-color: peachpuff;
    position: absolute;
    top: 0;
    right: 0;
}

/* fixed 
    - 스크롤 되어도 위치 고정
    - viewport 기준으로 특정 위치에 배치
    - 헤더 제작시 많이 이용
*/
.position-fixed {
    background-color: powderblue;
    position: fixed;
    top: 0;
}

.container {
    /* 어떤 요소를 움직이고 싶을 때 그 요소의 부모를 relative로 두고 움직이고 싶은 것을 absolute로 두는 편 */
    width: 400px;
    height: 300px;
    position: relative;
}

.container div {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    position: absolute;
}

.container div:nth-child(1) {
    background-color: palegoldenrod;
    z-index: 2;
}
.container div:nth-child(2) {
    background-color: paleturquoise;
    left: 50px;
    z-index: 1;
}
.container div:nth-child(3) {
    background-color: pink;
    left: 100px;
}